---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen flex items-center justify-center bg-white text-black dark:bg-black dark:text-white">
    <div class="space-y-6 space-x-2 max-w-xs font-mono">
      <h1 class="pl-4 text-xl leading-relaxed">Joshua Park</h1>
      <p class="pl-10 text-xl leading-relaxed">I run a full-stack consultancy.</p>
      <p class="pl-10 text-xl leading-relaxed">We handle all of your software--from web to infrastructure.</p>
      <p class="pl-10 text-xl leading-relaxed">Let us handle your computing for you:</p>
      <div class="flex justify-center space-x-4">
        <p>biz@joshprk.me</p>
        {/*
        <a href="#" class="text-sky-600 hover:text-sky-500 underline">Contact</a>
        <a href="#" class="text-sky-600 hover:text-sky-500 underline">Portfolio</a>
        <a href="#" class="text-sky-600 hover:text-sky-500 underline">Blog</a>
        <a href="#" class="text-sky-600 hover:text-sky-500 underline">Fun</a>
        */}
      </div>
    </div>
  </div>
</Layout>
